{% extends 'PublicBundle::layout.html.twig' %}
{% block title %}CONTACTO{% endblock %}
{% block description %}{% endblock %}
{% block article %}


  <section class="content">
    <header class="page-header">
      <h1>{{"CONTACTA CON NOSOTROS" | trans }}</h1>
    </header>
    <div class="row mb15">
      <div class="span4"> 


        <h4><i class="icon-mail"></i> {{"Direccion" | trans }}:</h4>
        <address>
        {% trans %}Realizamos envíos a toda Europa desde nuestra fábrica en España. También puedes acudir a los concesionarios colaboradores para ver nuestro producto. Consúltanos cualquier duda.{% endtrans %}
        </address>
        <h4><i class="icon-mobile-1"></i> {{"Teléfono y WhatsApp" | trans }}</h4>
        <address>
        628 137 304 
		<img src="/img/banderas/spain.png" style="border-radius:50%;">
		<br> 
		+34 696 51 00 43
		<img src="/img/banderas/uk.png" style="border-radius:50%;">
		<img src="/img/banderas/portugal.png" style="border-radius:50%;">
		<br> 
		{{"8:00 a 20:00 de lunes a viernes" | trans }} 
		<br>
		<br>
		WhatsApp <img src="/whatsapp.png"> | {{"Todos los días" | trans }}
        </address>
        <h4><i class="icon-mail"></i> email</h4>
        <address>
        <a href="mailto:contacto@furgomania.com">contacto@furgomania.com</a>
        </address>
        <h4><i class="icon-facebook"> facebook</i></h4>
        <address>
        <a href="https://www.facebook.com/furgomania">https://www.facebook.com/furgomania</a>
        </address>


{#
		<div class="alert alert-info">
			<h4>{{"IMPORTANTE" | trans}}!</h4>
			{% trans %}Furgomania ya no realiza trabajos a medida o personalizados, 
			los KITS AUTOINSTALABLES de Furgomania son la solucion de mejor calidad y de mejor precio para camperizar tu furgoneta.{% endtrans %}
		</div>
#}

      </div>



      <!-- contact form -->
      <div class="span8">

    {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn blue">{{"Enviar Mensaje" | trans }}</button>
    {{ form_end(form) }}


 			{#<form action="{{ path('public_default_contacto') }}" method="post" {{ form_enctype(form) }}>
	        	{{ form_widget(form) }}
	        	<p>
	        	<button type="submit" class="btn blue">{{"Enviar Mensaje" | trans }}</button>
	     	   </p>
	    	</form>#}
        <div class="result"></div>
      </div>
      <!-- contact form -->
    </div>

  </section>


{% endblock %}