{% extends 'PublicBundle::layout.html.twig' %}
{% block title %}CONTACTO{% endblock %}
{% block description %}{% endblock %}
{% block article %}



  {% include 'PublicBundle:Parts:slider.html.twig' %}


<div id="diseno3" class="row mb15 noSlider">
  <div class="span12">
    <h2>{{"¿Por qué deberías elegir los kits autoinstalables de Furgomania ?"| trans | raw }}</h2>
  </div>
  <br/>
  <div class="span7">
    <h3>{{"CAMPERIZA TU VOLKSWAGEN SIN COMPLICACIONES" | trans}}</h3>
    <ul class="iconsList iconsList-medium">
      <li><i class="icon-right-circle"></i>&nbsp;{{"Selecciona el modelo de tu furgoneta"| trans | raw }}</li>
      <li><i class="icon-right-circle"></i>&nbsp;{{"Elige el kit que se adapte a tus necesidades"| trans | raw }}</li>
      <li><i class="icon-right-circle"></i>&nbsp;{{"Te lo enviamos a casa en 10 días"| trans | raw }}</li>
      <li><i class="icon-right-circle"></i>&nbsp;{{"Lo instalas tu mismo en 5 min"| trans | raw }}</li>
      <li><i class="icon-right-circle"></i>&nbsp;{{"Sistema patentado de anclaje"| trans | raw }}</li>
      <li><i class="icon-right-circle"></i>&nbsp;{{"Sin ningún tipo de herramientas"| trans | raw }}</li>
      <li><i class="icon-right-circle"></i>&nbsp;{{"No necesitas pasar ITV"| trans | raw }}</li>
      <li><i class="icon-right-circle"></i>&nbsp;{{"Tu <strong>furgoneta VolksWagen</strong> tal cual viene de fábrica" | trans | raw }}</li>
    </ul>
  </div>
  <div class="span5"> 
    <h3>{% trans %}SIN MOVERTE DE CASA{% endtrans %}</h3>
    <img src="/img/portada/cliente1.jpg" />
    <blockquote style="font-size:16px;">“{% trans %}No tienes que ir a un taller ni tener uno en casa{% endtrans %}”</blockquote>
    {#<h3>{% trans %}CAMPERIZA TU FURGONETA SIN MOVERTE DE CASA{% endtrans %}</h3>
    <p>{% trans %}Con los{% endtrans %} <a href="//www.furgomania.com/es/kit-autoinstalable" title="Videos kits autoinstalables">{% trans %}kits autoinstalables{% endtrans %}</a> {% trans %}de Furgomania, no necesitas moverte de casa para <strong>camperizar tu furgoneta</strong>. Tampoco necesitas herramientas especiales ni un lugar específico para montar los muebles.{% endtrans %}</p>
        
        <blockquote style="font-size:18px;">“{% trans %}Los kits para camperizar furgonetas están pensados para que no tengas que ir a un taller ni tener uno en casa...{% endtrans %}”</blockquote>#}
  </div>
</div>




  {{ render(controller('PublicBundle:Catalogo:Presentacion',{})) }}



<div id="diseno0" class="row mb15">
  <div class="span6">
          <h3>{{ "FÁCIL" | trans }}</h3>

        <p>{% trans %}Sólo necesitarás unos minutos para su instalación.{% endtrans %} {% trans %}Recibirás tu kit completamente terminado y adaptado a tu modelo de <strong>furgoneta camper volkswagen</strong>. Podrás montarlo fácilmente sin necesidad de instrucciones ni modificaciones de tu VolksWagen.{% endtrans %}</p>
                
        <p>{% trans %}Con los <strong>kits autoinstalables</strong> de Furgomania, conseguirás <strong>camperizar tu Volkswagen</strong>, y lo que es mejor, no necesitarás legalizarla en la ITV. Debido a su sistema de montaje patentado, los kits son considerados una carga y, por ese hecho, no son necesarios legalizar en la ITV.{% endtrans %}</p>
        
        <p>{% trans %}Así de sencillo. Elige el kits que más se ajuste a tus necesidades y en 10 días ...  {% endtrans %}</p>

        <h2> {{ "¡¡ A DISFRUTAR !!" | trans }}</h2>
  </div>


<div class="span6">
      <h3>{{ "GARANTÍA 100%" | trans }}</h3>
      <p>{% trans %}Todos nuestros productos tienen dos años de garantía sin "letra pequeña".{% endtrans %}</p>
      
      <p>{% trans %}En todo momento, los clientes tienen contacto directo con Furgomania, lo que les aporta la tranquilidad de solucionar cualquier incidencia de forma personal y directa.{% endtrans %}</p>
      
      <p>{% trans %}A los 10 días de la compra, recibirás tu <strong>kit camper</strong> con los muebles solicitados para tu <strong>furgoneta volkswagen</strong>. Durante 15 días podrás probarlo sin compromiso. Si no te gusta, te devolvemos el 100% de la compra. Para ello, deberás ponerte en contacto con nuestro departamento comercial y retiraremos el bulto lo antes posible. Una vez recibido en nuestras instalaciones, automáticamente se procederá a la devolución del dinero.{% endtrans %}</p>
      
</div>  



<div class="span12">

      <p>{% trans %}Nuestros <strong>muebles para furgonetas</strong> se exponen directamente en concesionarios oficiales VolksWagen, ellos confian en nuestra calidad, tu también puedes hacerlo.{% endtrans %}</p>
      
      <p>{% trans %}En Furgomania te aseguramos que recibirás un kit camper de excelentes acabados. Muebles para <strong>camperizar furgonetas</strong> de máxima calidad y que harán que el aspecto interior de tu furgoneta mejore notablemente.{% endtrans %}</p>
</div>
</div>


{% endblock %}