<section class="content">

  {% set counter = 0 %}
  
  <!-- slider -->
  <div class="row ">
    <div class="span12">

      <div class="flexslider">
        <ul class="slides sliderWrapper">

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<div class="video-container">
					<iframe src="https://www.youtube.com/embed/_EWoSOuvS6o?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<div class="video-container">
				<iframe src="http://player.vimeo.com/video/78682434" width="100%" height="397" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
				</div>
			</li>{% set counter = counter + 1 %}


			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="{{path('public_concesionarios_index')}}"><img src="/img/slider/1.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="{{path('public_concesionarios_index')}}"><img src="/img/slider/2.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}


			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="{{path('public_concesionarios_index')}}"><img src="/img/slider/3.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}


			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="{{path('public_concesionarios_index')}}"><img src="/img/slider/4.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}


			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="{{path('public_concesionarios_index')}}"><img src="/img/slider/5.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}


			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="{{path('public_concesionarios_index')}}"><img src="/img/slider/mapa1b.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}
			
			
			
			
			
			
			{#
			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="//www.furgomania.com/es/interesados-transporter-furgomania/"><img src="/img/slider/compra-conjunta-volswagen-furgomania.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}


			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="//www.furgomania.com/es/furgoneta-camper/mercedes/vito-larga/kit-alto/"><img src="/img/slider/mercedes1.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="//www.furgomania.com/es/furgoneta-camper/mercedes/viano-larga/kit-alto/"><img src="/img/slider/mercedes_1.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="//www.furgomania.com/es/furgoneta-camper/renault/trafic/"><img src="/img/slider/renopelnis.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="//www.furgomania.com/es/furgoneta-camper/peugeot/partner/kit-universal-furgonetas-pequeñas/"><img src="/img/slider/multimarca.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="//www.furgomania.com/es/furgoneta-camper/nissan/nv200/kit-nissan-nv200/"><img src="/img/slider/nissan.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="//www.furgomania.com/es/furgoneta-camper/peugeot/expert-corta/kit-muebles-tapiceria/"><img src="/img/slider/fiatcitrpeu.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}#}
			

			
        </ul>
      </div>
	  <div class="flexiShadow"><img src="{{ asset('bundles/public/images/ui/flexi-shadow.png') }}" alt="slider shadow"/></div>
    </div>
  </div>
  <!-- slider -->

</section>
