<section class="content">

  {% set counter = 0 %}
  
  <!-- slider -->
  <div class="row ">
    <div class="span12">

      <div class="flexslider">
        <ul class="slides sliderWrapper">

			{#<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<video style="width:100%" src="http://www.furgomania.com/videos/kits-autoinstalables-furgomania-HD.mov" controls poster="/videos/kits-autoinstalables-furgomania-HD-fondo.jpg"></video>
			</li>{% set counter = counter + 1 %}#}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="http://www.furgomania.com/es/concesionarios/"><img src="http://www.furgomania.com/img/slider/mapa1.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			{#<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="http://www.furgomania.com/es/furgoneta-camper/mercedes/vito-larga/kit-alto/"><img src="http://www.furgomania.com/img/slider/mercedes1.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="http://www.furgomania.com/es/furgoneta-camper/mercedes/viano-larga/kit-alto/"><img src="http://www.furgomania.com/img/slider/mercedes_1.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="http://www.furgomania.com/es/furgoneta-camper/renault/trafic/"><img src="http://www.furgomania.com/img/slider/renopelnis.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="http://www.furgomania.com/es/furgoneta-camper/peugeot/partner/kit-universal-furgonetas-pequeñas/"><img src="http://www.furgomania.com/img/slider/multimarca.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="http://www.furgomania.com/es/furgoneta-camper/nissan/nv200/kit-nissan-nv200/"><img src="http://www.furgomania.com/img/slider/nissan.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}

			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="http://www.furgomania.com/es/furgoneta-camper/peugeot/expert-corta/kit-muebles-tapiceria/"><img src="http://www.furgomania.com/img/slider/fiatcitrpeu.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}#}
			
			<li class="slideN{{counter}}" style="width: 930px; float: left; display: block;">
				<a href="http://www.furgomania.com/es/interesados-transporter-furgomania/"><img src="http://www.furgomania.com/img/slider/compra-conjunta-volswagen-furgomania.jpg" alt="KITS FURGOMANIA"/></a>
			</li>{% set counter = counter + 1 %}
			
        </ul>
      </div>
	  <div class="flexiShadow"><img src="{{ asset('bundles/public/images/ui/flexi-shadow.png') }}" alt="slider shadow"/></div>
    </div>
  </div>
  <!-- slider -->

</section>
