{% extends 'PublicBundle::layout.html.twig' %}
{% block title %}{% endblock %}
{% block description %}{% endblock %}
{% block article %}


<script>
fbq('track', 'ViewContent');
</script>


<section id="content" class="portfolio">
    <header class="page-header">
      <h1>{{entity.marca}} {{entity.modelo}}</h1>
    </header>
    <div class="slice clearfix">
      <div class="container">
        <div class="row">
          <div class="portfolio-items isotopeWrapper clearfix  isotope" id="3" style="position: relative; overflow: hidden; height: 705px;">
            {% for foto in entity.galeria %}

            <article class="span4 isotopeItem inner presBloc masoneryBloc isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
              <section class="imgWrapper"> <img src="//www.furgomania.com/{{ foto.img }}" alt="">
                <div class="media-hover" style="height: 187px; display: none; opacity: 1;">
                  <div class="mask resizer" style="height: 187px;"> <i class="icon-plus" style="position: absolute; font-size: 3.5em; top: 72.5px; left: 116px;"></i> </div>
                </div>
              </section>
            </article>

           {% endfor %} 
          </div>
        </div>
      </div>
    </div>
  </section>

<section>
      <div class="row">
        <div class="span8">  
        <h2>{{ entity.nombre}} <span>{{ entity.marca}} {{entity.modelo }} </span></h2>
        <blockquote>{{ entity.descripcion | trans | raw }}</blockquote>
        
        {% if entity.features %}
          <div style="border:1px dashed #EEE; padding:5px; margin-bottom:20px;">
            <h3>{{"Carácteristicas" | trans }}:</h3>
            <ul class="iconsList iconsList-large">
            {% for component in entity.features %}
              <li><i class="icon-star">{{component | trans }}</i></li>
            {% endfor %}
            </ul>
          </div>
        {% endif %}
        
			<p class="highlight">
			IMPORTANTE: Furgomania está en constante investigación y desarrollo de todos sus productos y por ello cabe la posibilidad de que el producto que reciba en su pedido no sea exactamente igual al reflejado en nuestra web. No obstante, Furgomania garantiza que el que reciba será de mejores cualidades en cuanto a su funcionalidad, seguridad o apariencia. Todos nuestros productos tienen un periodo de devolución de 15 días si no está satisfecho con el mismo y una garantía total de 2 años.
			</p>
        </div>
		  
        <div class="span4">
        <div class="pricingBloc focusPlan">
			<h2>{{entity.nombre | trans }}</h2>
                
			<h3>{% if entity.precio > 0 %} {{entity.precio}} € {% endif %}</h3>

			<p>
			IMPUESTOS<br>
			Península, Baleares e internacional: 21% IVA<br>
			Canarias: 7% IGIC + 21€ (aduanas) 
			</p>

			<p>
			PORTES (distribución desde Girona)<br>
			Península: de 50 a 90 € (*)<br>
			Baleares: 120 € (*)<br>
			Canarias: 150 € (*)<br>
			Internacional: Consultar<br>
			(*) ejemplo kit principal (1,4 m. cúbicos)
			</p>
			
			<p class="sign"> <a class="btn btn-large" href="{{path('public_default_contacto')}}" style=" ">{{"LO QUIERO" | trans }}</a> </p>
        </div>
      </div>   
    </div>
    
</section>


{% endblock %}