<!-- footer -->
<footer class="">
  <section id="mainFooter">
    <div class="container">
      <div class="row">
        <div class="span6"> <img src="{{ asset('bundles/public/images/footer-logo.png') }}" alt="">
          <p>{{"Desde 2003 hasta hoy hemos diseñado y equipado más de 200 furgonetas a medida. Fruto de esa experiencia, hemos creado y patentado los kits autoinstalables, sin duda la mejor solución para <strong>equipar furgonetas camper</strong>." | trans | raw }}</p>
		  <p>{{"Consigue tu furgoneta totalmente equipada para camping. Infórmate sin compromiso." | trans}}</p>
          <ul class="socialList">
            <li> <a href="https://www.facebook.com/furgomania" class="cicon cicon-rounded cicon-medium tips" title="Facebook"> <i class="icon-facebook"></i> </a> </li>
            <li> <a href="https://www.twitter.com/furgomania" class="cicon cicon-rounded cicon-medium tips" title="Twitter"> <i class="icon-twitter"></i> </a> </li>
			<li class="last"> <a href="https://plus.google.com/103435937918788317793" class="cicon cicon-rounded cicon-medium tips" title="Google +" rel="publisher"> <i class="icon-gplus"></i> </a> </li>
          </ul>
        </div>
        <div class="span6">
			<h3>Furgomania Motor España S.L.U.</h3>
			<p>CIF: B76068584 Registro Mercantil de Las Palmas de G.C. tomo 1965 libro 0 folio 46 hoja GC-43433 Inscripción 2ª</p>
			<p>{% trans %}Fabricamos nuestros productos en Gerona, España. Realizamos envíos a cualquier lugar del mundo{% endtrans %}</p>
			<p><a href="#">{{"Empresa" | trans }}</a> | <a href="#">{{"Fabricación" | trans }}</a> | <a href="http://blog.furgomania.com">{{"Blog" | trans }}</a></p>
			
			<div class="fb-like" data-href="https://www.facebook.com/Furgomania" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
		</div>
      </div>
    </div>
  </section>
  <section id="footerRights">
    <div class="container">
      <div class="row">
        <div class="span12">
          <p>Furgomania © {{ "now"|date("Y") }}, {% trans %}Kit Camper, Kit Autoinstalable son marcas registradas. <a href="">Producto Patentado</a> / Todos los derechos reservados{% endtrans %}


          <a href="/documentos/aviso-legal.pdf" target="_new">Aviso Legal</a> <a href="/documentos/politica-cookies.pdf" target="_new">Política de cookies</a>
          </p>

        </div>
      </div>
    </div>
  </section>
  
	<!-- Google Code para etiquetas de remarketing -->
	<!-- 
	Es posible que las etiquetas de remarketing todavía no estén asociadas a la información de identificación personal o que estén en páginas relacionadas con las categorías delicadas. Para obtener más información e instrucciones sobre cómo configurar la etiqueta, consulte http://google.com/ads/remarketingsetup.
 -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 926919748;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
	</script>
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/926919748/?value=0&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
  
</footer>
<!-- footer -->