  <!-- header -->
  <header id="mainHeader" class="clearfix">
    <div class="row">
		<div class="span4 clearfix logotop"> 
			<div class="img">
				<a href="{{ path('homepage') }}" class="brand"><img src="{{ asset('bundles/public/images/main-logovw.png') }}" alt="Furgomania Kits Autoinstalables"/></a>
				<div class="pull-left" style="width:100%; text-align:center;">
					<span class="contactMail" style="font-size:14px; text-align:center; white-space:nowrap;">
						<span style="white-space: nowrap;"><img src="/whatsapp.png">+34 628 137 304</span>
						<img src="/img/banderas/spain.png" style="border-radius:50%;">
						<img src="/img/banderas/uk.png" style="border-radius:50%;">
						<img src="/img/banderas/france.png" style="border-radius:50%;">
						<img src="/img/banderas/portugal.png" style="border-radius:50%;">
					</span>		
				</div>
			</div>
		</div>
		<div class="span8 clearfix">
			<!-- menu -->
			<nav id="mainMenu" class="clearfix pull-right">
			  <ul class="clearfix">

					<li>
					<a href="{{path('homepage')}}" class="firstLevel {% if app.request.get('_route') == 'homepage' %}active{% endif %}">{% trans %}Inicio{% endtrans %}</a>
					</li>
					
					<li>
					<a href="{{path('public_default_videos')}}" class="firstLevel {% if app.request.get('_route') == 'public_default_videos' %}active{% endif %}">{% trans %}Videos{% endtrans %}</a>
					</li>

					<li>
					<a href="{{path('public_concesionarios_index')}}" class="firstLevel {% if app.request.get('_route') == 'public_concesionarios_index' %}active{% endif %}">{% trans %}Exposiciones{% endtrans %}</a>
					</li>
					
					<li>
					<a href="http://www.furgomania.com/es/contacto" class="firstLevel"> {% trans %}Contacto{% endtrans %}</a>
					</li>

					<li>
					<a href="{{path('public_catalogo_index')}}" class="firstLevel {% if app.request.get('_route') == 'public_catalogo_index' %}active{% endif %}">{% trans %}Furgonetas VolksWagen{% endtrans %}</a>
					</li>


			   </ul>
			</nav>    

			<!-- menu -->
		</div>        

    </div>
  </header>
  <!-- header -->
  <br />