  <!-- header -->
  <header id="mainHeader" class="clearfix">
    <div class="row">
		<div class="span4 clearfix logotop">
			<div class="img">
				<a href="{{ path('public_default_index') }}" class="brand"><img src="{{ asset('bundles/public/images/main-logovw.png') }}" alt="Furgomania Kits Autoinstalables"/></a>
			</div>
		</div>
		<div class="span8 clearfix">
			<!-- menu -->
			<nav id="mainMenu" class="clearfix pull-right">
			  <ul class="clearfix">

					<li>
					<a href="{{ path('public_default_index') }}" class="firstLevel {% if app.request.get('_route') == 'homepage' %}active{% endif %}">{% trans %}Inicio{% endtrans %}</a>
					</li>

					<li>
					<a href="{{ path('public_default_videos') }}" class="firstLevel {% if app.request.get('_route') == 'public_default_videos' %}active{% endif %}">{% trans %}Videos{% endtrans %}</a>
					</li>

					<li>
					<a href="{{ path('public_concesionarios_index') }}" class="firstLevel {% if app.request.get('_route') == 'public_concesionarios_index' %}active{% endif %}">{% trans %}Exposiciones{% endtrans %}</a>
					</li>

					<li>
					<a href="{{ path('public_default_contacto') }}" class="firstLevel"> {% trans %}Contacto{% endtrans %}</a>
					</li>

					<li>
					<a href="#" class="hasSubMenu">{{"Catálogo KITS"|trans}}</a>
					<ul>
						<li><a href="http://www.furgomaniavw.com/es/volkswagen">VolksWagen</a></li>
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/renault/">Renault</a></li>
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/nissan/">Nissan</a></li>  
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/opel/">Opel</a></li>
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/mercedes/">Mercedes</a></li>    
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/citroen/">Citroën</a></li>       
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/fiat/">Fiat</a></li>  
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/peugeot/">Peugeot</a></li>  
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/ford/">Ford</a></li>
						<li><a href="http://www.furgomania.com/es/furgoneta-camper/todas-las-marcas/kit-universal-furgonetas-pequenas/">Kit Universal</a></li>
					</ul>
					</li>

			   </ul>
			</nav>

			<!-- menu -->
		</div>

    </div>
  </header>
  <!-- header -->
  <br />
